---
layout: default
---
<iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FIaUmHbnTPCgDzL1tIR8tHP%2FPortfolio%3Fpage-id%3D0%253A1%26node-id%3D112%253A118%26starting-point-node-id%3D112%253A118" allowfullscreen></iframe>
<!--
<div class="home">

  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
          <h3 class="h2 post-title">{{ post.title }}</h3>
          <p class="post-summary">{{ post.summary }}</p>
        </a>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
-->
